{% set version = '1.0.3' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lofanjedt - {{ title|default('') }}</title>
    <link rel="stylesheet" href="/css/app.css?v={{ version }}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap5.min.js"></script>
    <script src="/js/app.js?v={{ version }}"></script>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    {% if app.user %}
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="card mt-2 mt-md-4 p-3">
                    <nav class="row">
                        <div class="col-12">
                            {% if app.user.granted('ROLE_ADMIN') %}
                                <a type="button" href="{{ path('admin_user_index') }}" class="btn btn-outline-danger float-end">users</a>
                            {% endif %}
                            <a type="button" href="{{ path('lofanje') }}" class="btn btn-outline-light px-4">lofanje</a>
                            <a type="button" href="{{ path('pages', {'slug': 'converters'}) }}" class="btn btn-outline-light px-4 mx-3">oplacale</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <div class="card mt-2 mt-md-3 p-3">
                {% include 'parts/flash.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
