{% set version = '1.1.3' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lofanjedt - {{ title|default('') }}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap5.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2-bootstrap-5-theme.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css?v='~version) }}">
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ asset('js/jquery-3.5.1.js') }}"></script>
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap5.min.js') }}"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
    <script src="{{ asset('js/app.js?v='~version) }}"></script>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div class="container-fluid mb-4">
    {% if app.user %}
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="card mt-2 mt-md-4 p-3">
                    <nav class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <div>
								<a type="button" href="{{ path('lofanje') }}" class="btn btn-outline-light px-4">lofanje</a>
								<a type="button" href="{{ path('pages', {'slug': 'converters'}) }}" class="btn btn-outline-light px-4 mx-3">oplacale</a>
							</div>
							<div class="d-flex flex-row gap-2">
								{% if languages.languages %}
									<div class="dropdown">
										<button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownLanguageMenu" data-bs-toggle="dropdown" aria-expanded="false">
											{{ app.user.language.name|default('choose language') }}
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownLanguageMenu">
											{% for language in languages.languages %}
											 	<li><a class="dropdown-item" href="{{ path('lofanje_set_language', {'language': language.id}) }}">{{ language.name }}</a></li> 
											{% endfor %}
										</ul>
									</div>
								{% endif %}
								{% if app.user.granted('ROLE_ADMIN') %}
									<a type="button" href="{{ path('admin_user_index') }}" class="btn btn-outline-danger">users</a>
								{% endif %}
							</div>
						</div>
                    </nav>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <div class="card mt-2 mt-md-3 p-3">
                {% include 'parts/flash.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <footer class="row">
        <div class="col-12 col-md-10 mx-auto">
            <div class="card mt-2 mt-md-4 p-3">
                <nav class="row">
                    <div class="col-12">
                        {% if totalEntries is defined and totalEntries != 0 %}
                            <p>total entries: {{ totalEntries }}</p>
                        {% endif %}
                        <div>
                            <div class="textDiv my-2">
                                <p class="text-muted float-start text1">bocesu ol Michel <br>ut Olandje bocesu <img style="width: 15px" src="{{ asset('images/nl_flag.svg') }}" alt="NL"></p>
                            </div>
                            <div class="textDiv my-2">

                                <p class="text-muted float-start text2">made possible by Michel <br>proudly made in the Netherlands <img style="width: 15px" src="{{ asset('images/nl_flag.svg') }}" alt="NL"></p>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
