<table class="table table-responsive-md table-hover table-striped DataTable" id="entries">
    <thead>
    <tr>
        <th>category</th>
        <th>base form</th>
        <th>base form IPA</th>
        <th>equivalent(s) in English</th>
        <th>definition in English</th>
        <th>equivalent(s) in other language(s)</th>
        <th>etymology</th>
        {% if app.user.granted('ROLE_ADMIN') %}
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.category }}</td>
            <td>{{ entry.baseForm }}</td>
            <td>{{ entry.baseFormIpa }}</td>
            <td>{{ entry.equivalentEnglish }}</td>
            <td>{{ entry.definitionEnglish }}</td>
            <td>{{ entry.equivalentOtherLanguages }}</td>
            <td>{{ entry.etymology }}</td>
            {% if app.user.granted('ROLE_ADMIN') %}
                <td>
                    <button type="button" class="btn btn-outline-light btn-sm form-modal-button" data-bs-toggle="modal" data-bs-target="#formModal" data-id="{{ entry.id }}">update</button>
                    <a href="{{ path('entry_delete', {'id': entry.id}) }}" onclick="return confirm('are you sure?')" type="button" class="btn btn-outline-danger btn-sm">delete</a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
