{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            {% if app.user.granted('ROLE_ADMIN') %}
                <button type="button" class="btn btn-outline-success float-end form-modal-button" data-bs-toggle="modal" data-bs-target="#formModal" data-id="0">new entry</button>
            {% endif %}
            <h3>lofanje</h3>
        </div>
    </div>
    <hr>
    <table class="table table-responsive-md table-hover table-striped DataTable" id="entries">
        <thead>
        <tr>
            <th>term</th>
            <th>plural</th>
            <th>ipa</th>
            <th>ipa plural</th>
            <th>part of speech</th>
            <th>english</th>
            <th>information</th>
            {% if app.user.granted('ROLE_ADMIN') %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.term }}</td>
                <td>{{ entry.plural }}</td>
                <td>{{ entry.ipa }}</td>
                <td>{{ entry.ipaPlural }}</td>
                <td>{{ entry.partOfSpeech }}</td>
                <td>{{ entry.english }}</td>
                <td>{{ entry.information }}</td>
                {% if app.user.granted('ROLE_ADMIN') %}
                    <td>
                        <button type="button" class="btn btn-outline-light btn-sm form-modal-button" data-bs-toggle="modal" data-bs-target="#formModal" data-id="{{ entry.id }}">update</button>
                        <a href="{{ path('entry_delete', {'id': entry.id}) }}" onclick="return confirm('are you sure?')" type="button" class="btn btn-outline-danger btn-sm">delete</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'lofanje/modal.html.twig' %}

{% endblock %}
